<div id="sidebar">
  <ul>
    <li>
      <h2>Categories</h2>
      <ul>
       <% all_categories.each do |cat| %>
        <li><%= link_to cat.name, category_path(:id => cat.id) %></li>
        <% end %>

      </ul>
    </li>
    <li>
      <h2>Blogroll</h2>
      <ul>
        <% all_posts.each do |post| %>
            <li><%= link_to post.title, post_path(:id => post.id) %></li>
        <% end %>
      </ul>
    </li>

  </ul>
</div>
<!-- end #sidebar -->