<div class="post"> <h1>Contact Me</h1>
<p>Boris Stoyanov</p>
  <p>E-mail: bss.stoyanov@gmail.com</p>
  <p><a href="https://github.com/borisstoyanov">GitHub</a></p>
  <p><a href="https://www.linkedin.com/in/bstoyanov">LinkedIn</a></p></div>
